body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.list {
  margin: 10px;
}

.subBtn{
	position: relative;
	text-align: center;
	justify-content: center;
	border: #2182dd;
	border-radius: 4px;
  
	background-color: #4CAF50; /* Green */
	color: white;
	padding: 5px 12px;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
  }